/* Explore Section Styles */

.explore-section {
    background-color: var(--color-bg-light);
    padding: var(--spacing-5xl) 0;
}

/* Responsive Styles */
@media (max-width: 992px) {
    .explore-section {
        padding: var(--spacing-4xl) 0;
    }
}

@media (max-width: 768px) {
    .explore-section {
        padding: var(--spacing-3xl) 0;
    }
}

@media (max-width: 576px) {
    .explore-section {
        padding: var(--spacing-2xl) 0;
    }
}